/* ===============
      Colors 
=============== */

/**  Primary  **/

$scissors-gradient: transparent;
$paper-gradient: transparent;
$rock-gradient: transparent;
$lizard-gradient: transparent;
$cyan: transparent;

/*  Neutral  */

$dark-text: transparent;
$score-text: transparent;
$header-outline: transparent;

/*  Background  */

$bg-gradient: transparent;

/**  Fonts  **/
$font-family: 'Barlow Semi Condensed', sans-serif;
$fw-600: 600;
$fw-700: 700;
